<!-- Fine Circle Responsive Image -->
<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
    
    <br>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".25s">{{ ▼ | markdownify }}</p> 

  </div>
</div>
    
<!-- inspired by Grape-Academic-Theme -->
<!--
<div class="row">
  
  <div class="col-lg-4 col-md-6 mt-4">
    <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image">
  </div>
  
  <div class="col-lg-4 col-md-8 mt-4">
    <h2>{{ site.author.name }}</h2>
    <div>{{ site.description | markdownify }}</div>
    <ul id="icons">
      {% include social.html %}
    </ul>
  </div>
  
</div>
-->
