<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- Initialize all tooltips -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!-- navbar -->
<script>
    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("site-header").style.top = "0";
      } else {
        document.getElementById("site-header").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }
</script>

<!-- landing -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js"></script>

<script type="text/javascript">
  gsap.set('.main', {position:'fixed', background:'#fff', width:'100%', maxWidth:'1200px', height:'100%', top:0, left:'50%', x:'-50%'})
  gsap.set('.scrollDist', {width:'100%', height:'200%'})
  gsap.timeline({scrollTrigger:{trigger:'.scrollDist', start:'top top', end:'bottom bottom', scrub:1}})
      .fromTo('.sky', {y:0},{y:-200}, 0)
      .fromTo('.cloud1', {y:100},{y:-800}, 0)
      .fromTo('.cloud2', {y:-150},{y:-500}, 0)
      .fromTo('.cloud3', {y:-50},{y:-650}, 0)
      .fromTo('.mountBg', {y:-10},{y:-100}, 0)
      .fromTo('.mountMg', {y:-30},{y:-250}, 0)
      .fromTo('.mountFg', {y:-50},{y:-600}, 0)

  $('#arrowBtn').on('mouseenter', (e)=>{ gsap.to('.arrow', {y:10, duration:0.8, ease:'back.inOut(3)', overwrite:'auto'}); })
  $('#arrowBtn').on('mouseleave', (e)=>{ gsap.to('.arrow', {y:0, duration:0.5, ease:'power3.out', overwrite:'auto'}); })
  $('#arrowBtn').on('click', (e)=>{ gsap.to(window, {scrollTo:innerHeight, duration:1.5, ease:'power1.inOut'}); }) 
  // scrollTo requires the ScrollTo plugin (not to be confused w/ ScrollTrigger)
</script>

<script>
    var anim = gsap.to("#title", { 
              y: () => { return window.innerHeight * 0.75 }, ease: "none",
              scrollTrigger: {
                trigger: '.video-panel',
                start: () => 'top top',
                end: () => "+=" + ( window.innerHeight * 0.75 ),
                // scrub: true,
                scrub: 0.0,
                invalidateOnRefresh: true,
              }   
           })
</script>
