html, body, div, section, article, header, nav, footer {
  //background: #fcf8ee;
  //color: #474543;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  position: relative;
  cursor: auto;
}

// customized container //
.outer-container {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.inner-container {
  margin: 0 auto 0 auto;
  padding: 0px 1.5rem 0px 1.5rem;
  width: 100%;
  max-width: 71.25em;
  min-height: 88px;
}

::selection {
    background-color: #4cd8b0;
    color: #fff;
}

// fonts //
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

// customed container //
//.inner-container {
//  margin: 0 auto 0 auto;
//  padding: 0px 1.5rem 0px 1.5rem;
//  width: 100%;
//  max-width: 71.25em;
//}


//html {
//  padding-left: calc(100vw - 100%);
//}

//body {
//  font-family: "Poppins", sans-serif; //'Montserrat', sans-serif
//}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
