/*html, body, div, section, article, header, nav, footer {
  //background: #fcf8ee;
  //color: #474543;
  font-family: 'Roboto', sans-serif; //'Montserrat', sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  //display: block;
  //box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  //vertical-align: baseline;
  //position: relative;
  //cursor: auto;
}*/

// base //
body {
  min-width: 320px;
  line-height: 1.47;
  margin: 0;
  padding: 0;
  
  background-color: #f2e6d0;
  color: #262521;
  font-family: 'Roboto', sans-serif; //'Montserrat', sans-serif; 
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
}

::selection {
  background-color: #234661;
  color: #f2e6d0;
}

// class //
.site-header-height {
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 217px;
}

.local-header-height {
  position: relative;
  overflow: hidden;
  padding-top: 140px; //91px;
  padding-bottom: 98px; //65px;
}

.section-height {
  position: relative;
  overflow: hidden;
  padding-top: 65px; //91px;
  padding-bottom: 45px; //65px;
}

.section-width {
  margin-left: auto;
  margin-right: auto;
  width: 936px; //980px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 24px 0;
  width: 100%;
}

/*.column {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0px;
}*/

.row-col2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 24px;
  margin: 24px 0;
}

.container-col1-bg {
  overflow: hidden;
  padding: 62px 40px 66px;  
  background: #D4CFBE; //var(--panel-color);
  border-radius: 20px;
}

.container-col2-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 43px 50px 64px;
  justify-content: space-between;
  background: #D4CFBE; //var(--panel-color);
  border-radius: 20px;
}

@media only screen and (max-width: 1068px) {
  .site-header-height {
    padding-top: 143px;
    padding-bottom: 134px;
  }
  .local-header-height {
    padding-top: 65px;
    padding-bottom: 40px;
  }
  .section-height {
    padding-top: 65px;
    padding-bottom: 40px;
  }
  .section-width {
    margin-left: auto;
    margin-right: auto;
    width: 692px;
  }
  .container-bg {
    padding: 45px 28px 44px;
  }
}

@media only screen and (max-width: 734px) {
  .site-header-height {
    padding-top: 135px;
    padding-bottom: 118px;
  }
  .local-header-height {
    padding-top: 58px;
    padding-bottom: 30px;
  }
  .section-height {
    padding-top: 58px;
    padding-bottom: 30px;
  }
  .section-width {
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
  }
  .row-col2 {
    grid-auto-flow: row;
  }
  .container-bg {
    padding: 35px 36px 34px;
  }
}

// design //
.text-bright {
  color: #F2E6D0;
}

/*.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}*/

.site-header-title-1 {
  line-height: 1.25;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -.015em;
}

.local-header-title-1 {
  line-height: 1.25;
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -.005em;
}

.section-title-2 {
  line-height: 1.25;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -.003em;
}

.text-prof-contatiner {
  z-index: 1;
  position: relative;
  padding-top: 94px;
  width: 50%;
}

.image-prof-container {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  //background: linear-gradient(to bottom, #262521 0%, #4E4C44 50%, #F2E6D0 100%);
  background: linear-gradient(to bottom, #061520, #234661, #35658A, #F2E6D0);
}

.image-prof {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 45%;
  //transform: translateX(-50%);
  margin: 0 auto;
  width: 321px;
  height: 300px;
  //background-position: 381px 100%;
  //background-size: 489px 336px;
  //background-repeat: no-repeat;
}

@media only screen and (max-width: 1068px) {
  .site-header-title-1 {
    line-height: 1.25;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: -.005em;
  }
  .local-header-title-1 {
    line-height: 1.25;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.003em;
  }
  .section-title-2 {
    line-height: 1.25;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
  }
}

@media only screen and (max-width: 734px) {
  .site-header-title-1 {
    line-height: 1.25;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.003em;
  }
  .local-header-title-1 {
    line-height: 1.25;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
  }
  .section-title-2 {
    line-height: 1.25;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0em;
  }
}


// customized container //
/*
.outer-container {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.inner-container {
  margin: 0 auto 0 auto;
  padding: 0px 22px 0px 22px;
  //padding-top: 0px;
  //padding-right: max(22px,env(safe-area-inset-right));
  //padding-bottom: 0px;
  //padding-left: max(22px,env(safe-area-inset-left));
  max-width: 980px; //100%;
  //max-width: 71.25em;
  min-height: 88px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  //width: 100%;
  //min-height: 88px;
}
*/

//.middle-xs {
//  align-items: center;
//}

//.center-xs {
//  text-align: center;
//  justify-content: center;
//}

// fonts //
/*
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}
*/

// customed container //
//.inner-container {
//  margin: 0 auto 0 auto;
//  padding: 0px 1.5rem 0px 1.5rem;
//  width: 100%;
//  max-width: 71.25em;
//}


//html {
//  padding-left: calc(100vw - 100%);
//}

//body {
//  font-family: "Poppins", sans-serif; //'Montserrat', sans-serif
//}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
