$color-grey-0: #F2F2F2; //bg, txt-light
$color-grey-1: #D9D9D9;
$color-grey-2: #A6A6A6;
$color-grey-3: #737373; //txt-grey
$color-grey-4: #404040;
$color-grey-5: #0D0D0D; //txt-dark
$color-blue-light: #E2E6EF; // overlay-bg
$color-blue-medium: #2E728C; //themed
$color-blue-dark: #1E4F62;
$color-pink: #D9ADA9; //highlight
$color-yellow: #FFD49B; //selection

$nav-height: 52px;

// base //
body {
  min-width: 320px;
  line-height: 1.47;
  margin: 0;
  padding: 0;
  
  background-color: $color-grey-0;
  color: $color-grey-5;
  font-family: 'Roboto', sans-serif; //'Montserrat', sans-serif; 
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
}


// customized container //
#recentnews, #knowmore {
  background-color: $color-blue-light;
}

#research {
  background-color: $color-blue-dark;
  color: $color-grey-0;
}


// grid //
.site-header-height {
  position: relative;
  overflow: hidden;
  padding-top: 220px; //200px;
  padding-bottom: 220px; //80px;
  min-height: 100vh;
}

.local-header-height {
  position: relative;
  overflow: hidden;
  padding-top: 130px; 
  padding-bottom: 65px; 
}

.section-height-1 {
  position: relative;
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-height-2 {
  position: relative;
  overflow: hidden;
  padding-top: 80px; 
  padding-bottom: 80px; 
}

.section-width {
  top: 50%;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 936px; //980px;
}

/*.section-gallery {
  position: relative;
  overflow: hidden;
  padding-top: 36px;
  padding-bottom: 6px;
}*/

/*.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  //margin: 24px 0;
  width: 100%;
}

.column {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0px;
}*/

.row-col1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px;
  //width: calc(936 - (50 * 2)); //100%;
}

.row-col2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 50px;
  margin: 50px;
}

.card-col2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 24px;
  margin: 50px 0;
}

.card-col1-bg {
  overflow: hidden;
  padding: 45px 50px 60px;  
  background: $color-blue-light; 
  border-radius: 20px;
}

.card-col2-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  padding: 45px 50px 60px;
  justify-content: space-between;
  background: $color-blue-light; 
  border-radius: 20px;
}

@media only screen and (max-width: 1068px) {
  //.site-header-height {
  //  padding-top: 143px;
  //  padding-bottom: 134px;
  //}
  .local-header-height {
    padding-top: 110px;
    padding-bottom: 20px;
  }
  .section-height-1 {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .section-height-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-width {
    margin-left: auto;
    margin-right: auto;
    width: 692px;
  }
  .container-bg {
    padding: 45px 28px 44px;
  }
}

@media only screen and (max-width: 734px) {
  .site-header-height {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .local-header-height {
    padding-top: 90px;
    padding-bottom: 10px;
  }
  .section-height-1 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .section-height-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-width {
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
  }
  .section-gallery {
    padding-top: 22px;
  }
  .row-col2 {
    grid-auto-flow: row;
  }
  .container-bg {
    padding: 35px 36px 34px;
  }
}

// design //
::selection {
  background-color: $color-yellow;
  color: $color-grey-5;
}

.text-color-white {
  color: $color-grey-0;
}

.text-color-grey {
  color: $color-grey-3;
}

.margin-style {
  margin: var(--m);
}

.padding-style {
  padding: var(--p);
}

.text-color-highlight {
  display: inline;
  padding: .05em 0;
  background: $color-pink;
  color: $color-grey-5;
  box-shadow: .1em 0 0 $color-pink, -.1em 0 0 $color-pink;
}

.section-title-1 {
  margin-bottom: .4em;
  line-height: 1.25;
  font-size: 96px;
  font-weight: 500;
  letter-spacing: -.015em;
}

.section-title-2 {
  line-height: 1.25;
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -.005em;
}

.section-title-3 {
  line-height: 1.25;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -.003em;
}

.section-title-4 {
  line-height: 1.1;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0em;
}

.section-title-5 {
  line-height: 1.125;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.004em;
}

@media only screen and (max-width: 1068px) {
  .section-title-1 {
    margin: 1em 0;
    line-height: 1.25;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: -.005em;
  }
  .section-title-2 {
    line-height: 1.25;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.003em;
  }
  .section-title-3 {
    line-height: 1.1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
  }
  .section-title-4 {
    line-height: 1.125;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.004em;
  }
  .section-title-5 {
    line-height: 1.143;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.007em;
  }
}

@media only screen and (max-width: 734px) {
  .section-title-1 {
    margin: 1em 0;
    line-height: 1.25;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.003em;
  }
  .section-title-2 {
    line-height: 1.1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
  }
  .section-title-3 {
    line-height: 1.125;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.004em;
  }
  .section-title-4 {
    line-height: 1.143;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.007em;
  }
  .section-title-5 {
    line-height: 1.143;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.007em;
  }
}



// trial //
.view-archive-wrapper {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 500;
  letter-spacing: -.022em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: center;
  margin-top: 40px;
}

.view-archive-light {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 24px 9px;
  border: 2px solid;
  border-color: $color-grey-4;
  color: $color-grey-5;
  line-height: 1.23536;
  letter-spacing: -.022em;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  transition: 
    background-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, 
    border-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms,
    color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
  
  &:hover {
    background-color: $color-grey-5;
    border-color: $color-grey-5;
    color: $color-grey-0;
    text-decoration: none;
    transition: 
      background-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, 
      border-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms,
      color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
  }
}

.text-prof-contatiner {
  z-index: 1;
  position: relative;
  left: 15%;
  padding-top: 94px;
  width: 50%;
}

.image-prof-container {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  //background: linear-gradient(to bottom, #262521 0%, #4E4C44 50%, #F2E6D0 100%);
  background: linear-gradient(to bottom, $color-grey-0, $color-blue-light); //#234661, #35658A); //#F2E6D0);
}

.image-prof {
  z-index: 1;
  position: absolute;
  bottom: 0; //10px;
  left: 53%;
  //transform: translateX(-50%);
  margin: 0 auto;
  width: 321px;
  height: 300px;
  //background-position: 381px 100%;
  //background-size: 489px 336px;
  //background-repeat: no-repeat;
}


/*
.outer-container {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.inner-container {
  margin: 0 auto 0 auto;
  padding: 0px 22px 0px 22px;
  //padding-top: 0px;
  //padding-right: max(22px,env(safe-area-inset-right));
  //padding-bottom: 0px;
  //padding-left: max(22px,env(safe-area-inset-left));
  max-width: 980px; //100%;
  //max-width: 71.25em;
  min-height: 88px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  //width: 100%;
  //min-height: 88px;
}
*/

//.middle-xs {
//  align-items: center;
//}

//.center-xs {
//  text-align: center;
//  justify-content: center;
//}

// fonts //
/*
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}
*/

// customed container //
//.inner-container {
//  margin: 0 auto 0 auto;
//  padding: 0px 1.5rem 0px 1.5rem;
//  width: 100%;
//  max-width: 71.25em;
//}


//html {
//  padding-left: calc(100vw - 100%);
//}

//body {
//  font-family: "Poppins", sans-serif; //'Montserrat', sans-serif
//}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
