.site-header {
  background: transparent;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15); 
  width: 100%;
  min-height: 88px;
  position: fixed;
  top: 0;
  z-index: 150;
  
  &:hover {
    background: #fff;
    color: #474543;
    transition-property: all, background;
    transition-duration: 0.2s, 600ms;
    transition-timing-function: ease, ease-in-out;
    transition-delay: 0s, 0s;
  }
}

// header scroll effect //
.is-top{
  background: transparent;
  color: #fff;
  transition-property: all, background;
  transition-duration: 0.2s, 600ms;
  transition-timing-function: ease, ease-in-out;
  transition-delay: 0s, 0s;
}

.scrolled-down{
  transform: translateY(-100%); 
  transition: all 0.1s ease-in-out;
}

.scrolled-up{
  background: #fff;
  color: #474543;
  transform: translateY(0); 
  transition: all 0.1s ease-in-out;
}

// navigation customized class //
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  flex-shrink: 0;
  //margin: 0;
  //padding: 0;
  //width: 100%;
  text-align: center;
  min-height: 88px;
}

//.site-branding {
//  align-items: center;
//  //text-align: center;
//}

.navbar-brand {
  margin-bottom: 0 auto 0 auto;
  margin-top: 13px;
  //&::after {
  //  margin-top: -0.25em;
  //}
}

.to-right {
  //margin-left: 0;
  //margin-right: auto;
  order: -1;
  justify-content: flex-end;
}

.to-left {
  //margin-left: auto;
  //margin-right: 0;
  order: 1;
  justify-content: flex-start;
}

// navigation link effect //
.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-link, .navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }
  &:hover::after {
    width: 100%;
  }
}

.nav-item .active {
  font-weight: 400;
  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}


