.site-header {
  background: #2ec4b6;
  width: 100%;
  min-height: 88px;
  position: fixed;
  top: 0;
  //transition: top 0.3s; // Transition effect when sliding down (and up)
  z-index: 150;
  
  &:hover {
    background: #fff;
    color: #474543;
    transition-property: all, background;
    transition-duration: 0.3s, 600ms;
    transition-timing-function: ease, ease-in-out;
    transition-delay: 0s, 0s;
  }
}

.is-top{
  background: #2ec4b6;
  color: #474543;
  transition-property: all, background;
  transition-duration: 0s, 0s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.scrolled-down{
  transform: translateY(-100%); 
  transition: all 0.3s ease-in-out;
}

.scrolled-up{
  background: #fd9e02;
  color: #474543;
  transform: translateY(0); 
  transition-property: all, background;
  transition-duration: 0.3s, 600ms;
  transition-timing-function: ease, ease-in-out;
  transition-delay: 0s, 0s;
}

.site-header .inner-container {
  margin: 0 auto 0 auto;
  padding: 0px 1.5rem 0px 1.5rem;
  width: 100%;
  max-width: 71.25em;
  min-height: 88px;
}

.site-nav {
  position: fixed;
  opacity: 1;
}

.site-header-top {
  background: #ffc029;
  display: block;
  margin: 0;
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
//  z-index: 99;
}

.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

//.navbar-brand {
//  margin-bottom: -14px;
//  &::after {
//    margin-top: -0.25em;
//  }
//}

.nav-link, .navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }
  &:hover::after {
    width: 100%;
  }
}

.nav-item .active {
  font-weight: 400;
  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}


