
// sticky blurred right-title left-menu navigation
.site-nav {
  z-index: 9997;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1024px;
  width: 100%;
  height: 52px;
  
  background-color: rgba(255,255,255,0.72);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 0.5px solid rgba(0, 0, 0, .12);
}

.nav-content {
  position: center;
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  height: 100%;
}

.nav-title {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 52px; 
}

.nav-title-link {
  color: $color-grey-5; 
  font-size: 21px;
  font-weight: 500;
  
  &:hover {
    color: $color-blue-medium;
    text-decoration: none;
  }
}

.nav-menu {
  float: right;
  padding-top: 0; //8px;
  line-height: 52px; //44px;
}

.nav-menu-link {
  margin-left: 24px;
  padding: 0;
  line-height: 22px;
  
  color: $color-grey-5; 
  opacity: .88;
  font-size: 12px;
  font-weight: 400;
  
  &:hover {
    color: $color-blue-medium;
    text-decoration: none;
  }
}

.nav-menu-link.active {
  color: $color-blue-medium; 
  //opacity: .56;
  text-decoration: none;
}

#navbarNavAltMarkup {
  &.open{
    order: 1;
  }
}

@media only screen and (max-width: 1044px){
  .site-nav {
    min-width: 320px;
  } 
}

@media only screen and (max-width: 767px){
  .site-nav {
    height: 48px;
  }
  .nav-title, .nav-menu {
    line-height: 48px;
  }
  .nav-title-link {
    font-size: 19px;
  }
}

