var RADIUS = 54;
var CIRCUMFERENCE = 2 * Math.PI * RADIUS;

function progress(per) {
  var progress = per / 100;
  var dashoffset = CIRCUMFERENCE * (1 - progress);
  //value.innerHTML=per +'%';
  //bar.style.strokeDashoffset = dashoffset;
}

.progress-stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  
  //text-align: center;
  //margin: 0 auto;
}

.progress-stats ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.progress-stats ul .stat {
  padding: 0 8px;
}

.stat {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0px;
  
  padding: 0 8px;
  //width: 114px;
  //height: 114px;
}

svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.circle-progress-content {
  display: flex;
}

.bg {
  fill: none;
  stroke: $color-blue-dark;
  stroke-opacity: .3;
  stroke-width: 10px;
}



//[class^="meter-"] {
.progress{
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: lime;
  stroke-dasharray: 360;
  stroke-dashoffset: 160;
  animation: progress-1 .75s ease-out;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 100;
    }
}
