.stats-progress {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  //min-width: 270px;
  width: 100%;
  min-height: 100%;
}

.stats-item {
  position: relative;
  width: 114px;
  height: 114px;
  margin: 0.5em 1em;
  transform: rotate(-90deg);
}

.svg-circle {
  position: relative;
  width: 100%;
  height: 100%;
}

/*.circle-frame, .circle-bar {
  fill: none;
  //stroke: $color-blue-dark;
  //stroke-opacity: .2;
  stroke-width: 10px;
}*/

