.circle-progressbar-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  //min-width: 270px;
  width: 100%;
  min-height: 100%;
}

.circle-progressbar-item {
  position: relative;
  width: 124px;
  height: 124px;
  margin: 12px 1em;
  transform: rotate(-90deg);
}

@property --pgColor {
  syntax: '<color>';
  inherits: false;
  initial-value: $color-blue-light;
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

.circle-progressbar {
  //--fg: #369;
  //--bg: #fff;
  --pgColor: var(--color);
  --pgPercentage: var(--value);
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, $color-blue-light 80%, transparent 0 99.9%, $color-blue-light 0),
    conic-gradient(var(--pgColor) calc(var(--pgPercentage) * 1%), $color-blue-light 0)
    ;
  animation: growProgressBar 3s 1 forwards;
}

.circle-edge {
    position: absolute;
    top: 0;
    left: 0;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 90px;
        left: 90px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--color);
        z-index: 1;
    }
    
    &::before {
        transform: translate(0, -90px);
    }
    
    &::after {
        transform: rotate(90deg) translate(0, -90px) ;
    }
}










.svg-circle {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle-frame {
  fill: none;
  stroke: $color-blue-dark;
  stroke-opacity: .2;
  stroke-width: 10px;
}

.circle-bar {
  fill: none;
  stroke: var(--color);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dasharray: 360;
  stroke-dashoffset: calc(360 * (1 - 50 / 100));
}

.circle-ba {
  fill: none;
  stroke: var(--color);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dasharray: 360;
  stroke-dashoffset: strokeDashoffset(var(--value));
  animation: anim_circle 1s ease-out; //ease-in-out forwards;
}

@function strokeDashoffset($num) {
  @return 360 - (360 * $num) / 100;
}

@keyframes anim_circle {
  from{
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: strokeDashoffset(var(--value));
  }
}




  
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  max-weight: 65px;
  height: 65px;
  text-align: center;
  //font-size: 16px;
  //line-height: 120px;
  
  //padding: 0.25em 0.5em;
  //border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}


