$primary:   #ff9f1c; //007bff;
$secondary: #333333; //6c757d;
$success:   #2ec4b6; //28a745;
$info:      #6ac2c9; //17a2b8;
$warning:   #ffc107;
$danger:    #e71d36; //dc3545;
$light:     #fdfffc; //f8f9fa;
$dark:      #011627; //343a40;

$text-black: #011627; //343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;
