  <div class="col-lg">
    <h4 class="mb-4 text-center">{{ include.title }}</h4>

    <div class="circle-progressbar-container">
      {% for item in include.source %}
        <div class="circle-progressbar-item">
          <!--<div class="circle-progressbar" role="progressbar"
               aria-valuenow="{{ item.percentage }}" aria-valuemin="0" aria-valuemax="100" 
               style="--color: #{{ item.color }};
                      --value: {{ item.percentage }}">
          </div>-->
          <svg class="svg-circle">
            <!--<circle class="circle-frame" 
                    cx="57" cy="57" r="52" fill="none" 
                    stroke="#1E4F62" stroke-opacity=".2" stroke-width="10" 
                    >-->
            <circle class="circle-frame" cx="62" cy="62" r="57"></circle>
            <!--<circle class="circle-bar" 
                    cx="57" cy="57" r="52" fill="none"
                    stroke="#{{ item.color }}" stroke-width="10" stroke-linecap="round"
                    stroke-dasharray="360" stroke-dashoffset="360"
                    data-stroke-dashoffset="{{ item.percentage }}">-->
            <circle class="circle-bar" cx="62" cy="62" r="57" 
                    style="--color: #{{ item.color }};
                           --value: {{ item.percentage }}" >
            </circle>
          </svg>
          <!--<span class="caption">{{ item.name }}</span>-->
          <img class="caption" src="{{ item.icon }}" alt="{{ item.name }}">
        </div>
      {% endfor %}
    </div>
    
  </div>
