<!--<div class="col-lg">-->
  <h4 class="section-title-5 mb-4">{{ include.title }}</h4>

  <div class="tiemline-body">
    {% for item in include.source %}
      <div class="timeline-item">
        {% if item.from and item.to %}
          <small class="date">{{ item.from }} — {{ item.to }}</small>
        {% elsif item.date %}
          <small class="date">{{ item.date }}</small>
        {% endif %}
        
        <p class="margin-0">{{ item.location }}</h4>
        <p class="text-color-grey">{{ item.title }}</p>

        {% if item.description %}
          <p>{{ item.description }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
<!--</div>-->
