---
layout: default
---

<section class="section local-header">
  <div class="section-content">
    <h1 class="section-header-headline text-left"> {{ site.author.name }} </h1>
    <div class="social"> </div>
  </div>
</section>

<section class="section section-header">
  <div class="section-content">
    <h1 class="section-header-headline text-center"> Skills </h1>
    {% include about/skills.html title="Programming" source=site.data.programming-skills %}
    {% include about/skills.html title="Cloud Platform" source=site.data.other-skills %}
  </div>
</section>

<section class="section section-header">
  <div class="section-content">
    <h1 class="section-header-headline text-center"> Experience </h1>
    {% include about/timeline_light.html title="Work & Research" source=site.data.experience %}
    {% include about/timeline_light.html title="Education" source=site.data.education %}
  </div>
</section>
