---
layout: default
---

<section class="local-header-height">
  <div class="section-width">
    <h1 class="local-header-title-1 text-left"> {{ site.author.name }} </h1>
    <div class="social"> 
      
    </div>
  </div>
</section>

<section class="section-height">
  <div class="section-width">
    <h1 class="section-title text-center"> Skills </h1>
    <div class="row">
      <div class="column">
        {% include about/skills.html title="Programming" source=site.data.programming-skills %}
      </div>
      <div class="column">
        {% include about/skills.html title="Cloud Platform" source=site.data.other-skills %}
      </div>
    </dv>
  </div>
</section>

<section class="section-height">
  <div class="section-width">
    <h1 class="section-title text-center"> Experience </h1>
    <div class="row">
      {% include about/timeline_light.html title="Work & Research" source=site.data.experience %}
      {% include about/timeline_light.html title="Education" source=site.data.education %}
    </div>
  </div>
</section>

<section class="section-height">
  <div class="section-width">
    <h1 class="section-title text-center"> Get to know more about me </h1>
  </div>
</section>
