---
layout: default
---

<section id="siteheader" class="site-header-height">
  <!-- {% include landing.html %} -->
  <div class="section-width">
    
    <h1 class="section-title-1 text-center"> 
      Hi, I am <span class="text-color-highlight">{{ site.author.name }}</span>.
    </h1>
    <h4 class="section-title-4 text-center">
      I am a Machine Learning researcher,
    </h4>
    <h4 class="section-title-4 text-center">
      and passionate about ...
    </h4>
    
  </div>
</section>

<section id="recentnews" class="section-height-2">
  <div class="section-width">
    
    <h2 class="section-title-3 text-center">Recent News</h2>
    
    <div>
      {% include about/timeline_light.html source=site.data.news %}
    </div>
    
  </div>
</section>

<section id="briefbio" class="section-height-1">
  <div class="section-width">
    
    <h2 class="section-title-3 text-center">Brief Bio</h2>
    
    <!--<div id="experience" class="row-col2">-->
    <div id="experience" class="row-col2 padding-top-50 padding-bottom-50">
      <!--<div class="card-col2-bg">-->
      <!--<div class="column large-4 large-offset-1 small-12 small-offset-0 small-column-padding-vertical">-->
      <div class="column large-4 large-offset-1 small-12">
        {% include about/timeline_light.html title="Work & Research" source=site.data.experience %}
      </div>
      <!--<div class="card-col2-bg">-->
      <!--<div class="column large-4 large-offset-1 small-12 small-offset-0 small-column-padding-vertical">-->
      <div class="column large-4 large-offset-1 small-12">
        {% include about/timeline_light.html title="Education" source=site.data.education %}
      </div>
    </div>
    
    <!--<div id="skills" class="card-col1-bg">-->
    <div id="skills" class="row-col1">
      <!--<div class="column large-4 large-offset-1 small-12 small-offset-0 small-column-padding-vertical">-->
      <div class="column large-4 large-offset-1 small-12">
        {% include about/progress.html shape="circle" title="Technical Skills" source=site.data.programming-skills %}
      </div>
    </div>
    
  </div>
</section>

<section id="research" class="section-height-1">
  <div class="section-width">
    
    <h2 class="section-title-3 text-center">Research</h2>
    
    <div>
      {% include projects/index.html %}
    </div>
    
  </div>
</section>

<section id="knowmore" class="section-height-1">
  <div class="section-width">
    
    <h2 class="section-title-3 text-center">Get to know more about me</h2>
    
    <div>
      {% include blog/index.html %}
    </div>
  
  </div>
</section>
