---
layout: default
---

<section class="section site-header">
  <!-- {% include landing.html %} -->
  <div class="section-content">
    <h1 class="site-header-headline text-center"> 
      Hi, I am {{ site.author.name }}.
      <br>
      {{ site.author.description }} 
    </h1>
  </div>
</section>

<section class="section section-news">
  <div class="section-content">
    <h2 class="section-news-headline text-center">Recent News</h2>
    {% include about/timeline_light.html source=site.data.news %}
  </div>
</section>

<!--
{% if site.greeting.enable == true and site.greeting.before_navbar == true %}
  <div class="flex-shrink-0 container-fluid">
    {% include landing.html %}
  </div>
{% endif %}

<div class="h-100 flex-shrink-0 container mt-5">

  {% include navbar.html %}
  
  {% if site.greeting.enable == true and site.greeting.before_navbar == false %}
    {% include landing.html %}
  {% endif %}
  
  <div class="col-lg-10 mx-auto mt-5 markdown-body">
    {{ content }}
  </div>
  
  {% include footer.html %}
  
</div> 
-->
